html, body {
  text-align: center;
  min-width: 260px;
  margin: 0;
}

main {
/*  width: 60%;*/
  margin: 0 auto;
}

h1 {
  margin-bottom: 10px;
}

#subtitle {
  margin-bottom: 30px;
}

blockquote {
  width: 100%;
  background-color: #E0E0E0;
  padding: 30px 0;
  margin: 0 auto;
}

blockquote p {
  width: 60%;
  font-size: 14px;
  line-height: 1.5em;
  margin: 0 auto;
  font-style: italic;
  text-align: justify;
}

blockquote div {
  width: 60%;
  margin: 0 auto;
  text-align: right;
  font-size: 14px;
  line-height: 1.5em;
}

figure {
  width: 70%;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 5px;
}

img {
  display: block;
  width: 100%;
  margin-top: -12%;
  margin-bottom: -2%;
}

#img-caption {
  font-size: 13px;
  width: 70%;
  margin: 0 auto;
}

h2 {
  margin-top: 40px;
}

ul {
  width: 40%;
  margin: 40px auto;
  margin-top: 20px;
  text-align: left;
  line-height: 1.5em;
}